language:
  #Match message language to player language set in client
  auto-language: true
  default-language: "en_us"

# Custom join and leave massages. You can change them in language files
join-leave-messages:
  disable-join: false
  disable-leave: false
  custom-join-message: true
  custom-leave-message: true

chat:
  format-enabled: true
  format: "&f<%nickname%&f> "
  staffchat-enabled: true
  staffchat-format: "&f[&9STAFF&f] &f<%nickname%&f> "

# Storage options: sqlite, mysql
# If you're not sure what to do here, leave "type" field at sqlite, plugin will take care of the rest
# If you want to sync player data in bungeecord, set mysql identical in servers you want this data synced on
storage:
  type: sqlite
  host: localhost
  table: sbasics_players
  database: database
  port: 3306
  username: root
  password: password
  ssl: true
  verifycertificate: true